body{
    background-image: url(IMG20210903164246-01.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

h2{
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-align: center;
}
p{
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-align: center;
}